<a href="https://colab.research.google.com/github/ashwanirawat113/Placement-Training/blob/main/placement_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1, 2, 3, 4]
l = [val * 2 for val in a]
print(l)

[2, 4, 6, 8]

In [ ]:
a = [1, 2, 3, 4,5,6,7,8]
evens = [val for val in a if val % 2 == 0]
print(evens)

[2, 4, 6, 8]

In [ ]:
a = [1, 2, 3, 4,5,6,7,8]
odds = [val for val in a if val % 2 == 1]
print(odds)

[1, 3, 5, 7]

In [ ]:
a=[i for i in range (15)]   # range function
print (a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
c=[(x,y) for x in range (3) for y in range (3)]  # tuple representation
print (c)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [ ]:
syntax : new_list=[[expr for item in inner_iteration] for item in outer_iteration]  #nested list comprehension
a=[[r for r in range(3)] for c in range (3)]
print (a)

NameError: name 'outer_iteration' is not defined

In [ ]:
#flattening of lists
#input: m = [[1, 2, 3], [4, 5], [6, 7, 8, 9]] ; output: [1,2,3,4,5,6,7,8,9]
m = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
l=[]
for i in m:
  for s in i:
    l.append(s)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:

# list comprehension with slicing
# Syntax: [expression for item in list[start:stop:step] if condition]

list1 = [10, 65, 98, 24, 94, 83]
print(list1[-3:-1])   # from index -3 up to (but not including) -1

[24, 94]

In [ ]:
l= [10, 65, 98, 24, 94, 83]
print(l[2:4])

[98, 24]

In [ ]:
names = ["ashwani","aarav","rawat"]
ages = [25, 30, 28]
combine=zip(names,ages)
l=list(combine)
print(l)
#using zip() loop
for name,age in zip(names,ages):
  print(name,age)

[('ashwani', 25), ('aarav', 30), ('rawat', 28)]
ashwani 25
aarav 30
rawat 28

In [ ]:
k=['a','b','c','d','e']
v=[1,2,3,4,5]
Dict={k:v for(k,v) in zip(k,v)}
print(Dict)
print(type(Dict))

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
<class 'dict'>

In [ ]:
Dict = {x:x**2 for x in range(10)}
print(Dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
Dict  = {x:x**3 for x in range(10)}
print(Dict)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [ ]:
def right_triangle(n):
  for i in range(1,n+1):
    print("ğŸ•ğŸ”"*i)
right_triangle(11)

ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”

In [ ]:
def inverted_right_triangle(n):
  for i in range(n,0,-1):
    print("ğŸ•ğŸ”"*i)
inverted_right_triangle(11)

ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”ğŸ•ğŸ”
ğŸ•ğŸ”

In [ ]:
#Display the Series 1, 2, 3, 4, 5, 6, â€¦ N
N = int(input("Enter N: "))
for i in range(1, N+1):
    print(i, end=", ")

Enter N: 22
1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22,

In [ ]:
#Display the Series 1, 3, 5, 7, 9, â€¦ N (Odd numbers)
N = int(input("Enter N: "))
for i in range(1, N+1, 2):
    print(i, end=", ")

Enter N: 89
1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89,

In [ ]:
#Display the Series 4, 16, 36, 64, â€¦ N
N = int(input("Enter N (Last number): "))
i = 2
while i*i*1 <= N:
    print((i*i)*i, end=", ")
    i += 2

Enter N (Last number): 65
8, 64, 216, 512,

In [ ]:
#Display the Series 1, 5, 9, 13, 21, 25, 29, 37, â€¦ N
N = int(input("Enter N: "))
a = 1
diff = 4
while a <= N:
    print(a, end=", ")
    a += diff
    # Alternate difference between 4 and 8
    diff = 8 if diff == 4 else 4

Enter N: 32
1, 5, 13, 17, 25, 29,

In [ ]:
#Display the Series 1, 1, 2, 3, 5, 8, 13, 21, â€¦ N (Fibonacci series)
N = int(input("Enter N: "))
a, b = 1, 1
while a <= N:
    print(a, end=", ")
    a, b = b, a + b

Enter N: 10
1, 1, 2, 3, 5, 8,

In [ ]:
#display the series 1,4,7,12,23,...N
N = int(input("Enter N: "))
a, b = 1, 4
while a <= N:
    print(a, end=", ")
    a, b = b, a + b

Enter N: 55
1, 4, 5, 9, 14, 23, 37,

In [ ]:
# Print number pattern (N rows)
N = int(input("Enter N: "))
for i in range(1, N+1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

Enter N: 30
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12
1 2 3 4 5 6 7 8 9 10 11 12 13
1 2 3 4 5 6 7 8 9 10 11 12 13 14
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [ ]:
# printing number pattern (N rows)

N = int(input("Enter N: "))
for i in range(1, N+1):
    for j in range(1, N+2):
        print(j, end="")
print()

Enter N: 10
1234567891011123456789101112345678910111234567891011123456789101112345678910111234567891011123456789101112345678910111234567891011

In [ ]:
def sum_first_n(n):
  total = 0
  for i in range (1, n+1):
      total += i
  return total
print(sum_first_n(10))

55

In [ ]:
def gp_sum(a, r, n):
  if r == 1:
    return a*n
  return a * (1 - r**n) / (1 - r)
print(gp_sum(2, 2, 5))

62.0

In [ ]:
#Creating a parent class
class person():
    def __init__(self, last_name, eye_color):
        print("Parent Constructor Called")
        self.last_name = last_name
        self.eye_color = eye_color

In [ ]:
#Creating a child lass
# Please run the cell defining the 'person' class first
class Emp(person):
  def Print(self):
    print("child cass")
emp_details = Emp("Aarav", "brown")
emp_details.Print()

NameError: name 'person' is not defined

In [ ]:
#1. Single Inheritance
class person:
    def __init__(self,name):
      self.name = name
class Employee(person):
  def __init__(self, name, salary):
    super().__init__(name)
    self.salary = salary

In [ ]:
#syntax : var/val.inseert(index position value)
#add value to the specific index function
#takes two arguments is index postion & value.
#example:
l=[4.9,'a']
l.insert(1,[2.8])
l

[4.9, [2.8], 'a']

In [ ]:
#EXTEND**
#syntax : var/val.extend(iterable object)
#adds only the iterable object to the list.
#values present inside the collection will get stored separately in the
#example:

l=['ab',78]
l.extend('xyz')
l

['ab', 78, 'x', 'y', 'z']

In [ ]:
#PRACTICE
arr = [2, 4, 6]
arr.append(8)
print(arr)
arr.insert(2,3)
print(arr)
arr.extend([8,10])
print(arr)

[2, 4, 6, 8]
[2, 4, 3, 6, 8]
[2, 4, 3, 6, 8, 8, 10]

In [ ]:
#(i) POP**
d={'a':'and',6:[7.5],9.5:True}
d.pop(6)
d

{'a': 'and', 9.5: True}

In [ ]:
# lambda function for a > b
x = lambda a, b: a > b

print(x(10, 5))

True

In [ ]:
#syntax
Zip Func: zip(iterable 1, iterable 2)

Filter Func: filter(function, iterable)

Map Func: map(function, iterable)

Reduce Func: reduce(function, iterable, [initializer])

List Comprehension: [expression for item in iterable if condition == True (optional)]

Dictionary Comprehension: {key: value for item in iterable if condition == True (optional)}

In [ ]:
s={12,'abc',6+9j,1.8}
s.remove(6+9j)
s

{1.8, 12, 'abc'}

In [ ]:
s={12,'abc',6+9j,1.8}
s.discard('abc')
s
s.discard(1.8)
s

{(6+9j), 12}

In [ ]:
l=[{9},4.5,[2],'a',78]
l.clear()

In [ ]:
d={'a':'and',6:[7],9.5:True}
d.popitem()

(9.5, True)

In [ ]:
my_list = [1, 'hello', 3.14, True, [1, 2], {'a': 1}]
del my_list

In [ ]:
#SLICING
#from collection data type
#syntax : var[SI+-1]
#default updation : +1
#default direction : forward
#forward direction : EI + 1
#backward direction : EI - 1
#no index position means no need to pass SI & EI

In [ ]:
arr = [1, 2, 3, 4, 5]
print(arr[1:4])
print(arr[:3])
print(arr[::2])
print(arr[::-1])

[2, 3, 4]
[1, 2, 3]
[1, 3, 5]
[5, 4, 3, 2, 1]

CoMpRehenSion

In [ ]:
#ANAGRAMS
def anagrams(s1, s2):
    return sorted(s1) == sorted(s2)
st1 = "ram "
st2 = "ear"
print(anagrams(st1, st2))

False

In [ ]:
#ROTATE ARRAY
def rotate_array(nums, k):
    n = len(nums)
    k = k % n
    return nums[-k:] + nums[:-k]

arr = [1, 2, 3, 4, 5]
k = 2
rotated = rotate_array(arr, k)
print(rotated)

[4, 5, 1, 2, 3]

                         ** ROTATE ARRAY**
here,n=5&k=2
k=2%5=2
nums[-k:]=last k items("tail) â†’nums[-2:]

In [ ]:
from __future__ import nested_scopes
from collections import namedtuple
#Rotate array
def rotate_array(nums,k):
  n=len(nums)
  k=k % n
  return nums[-k:]+nums[:-k]
arr=[1,2,3,4,5]
k=2
rotated=rotate_array(arr, k)
print(rotated)

[4, 5, 1, 2, 3]

In [ ]:
#valid palindrome
def valid_palendrome(s):
  filtered = ''.join(char.lower() for char in s if char.isalnum())
  return filtered == filtered[::-1]
s="A man, a plan, a canal: Panama"
print(valid_palendrome(s))

True

In [ ]:
#valid palindrome
def valid_palendrome(s):
  filtered = ''.join(char.lower() for char in s if char.isalnum())
  return filtered == filtered[::-1]
s="no lemon, no melon"
print(valid_palendrome(s))

True

In [ ]:
#valid palindrome
def valid_palendrome(s):
  filtered = ''.join(char.lower() for char in s if char.isalnum())
  return filtered == filtered[::-1]
s="race a car"
print(valid_palendrome(s))

False

In [ ]:
#reduce function
#syntax : reduce(function, iterable[, initializer])
from functools import reduce
nums=[1, 2, 3, 4, 5]
total = reduce(lambda x, y: x + y, nums)
print(total)

15

In [ ]:
# ARRAY AND STRING
arr = [10, 20, 30, 40, 50]
#(I) using for loop
for x in arr:
  print(x, end='')
  #

This game is played in a group, where players take turns to say the next number in a sequence, counting one at a time.

* If the number is divisible by 3, the player must say â€œFizzâ€ instead of the number itself.
* If the number is divisible by 5, the player must say â€œBuzzâ€.
* If the number is divisible by 3 and 5, the player must say â€œFizzBuzzâ€.

Given a number n, write a program that outputs the string representation of numbers from 1 to n. We need to return a string array as an output (1-indexed) where:

* output\[i] = "FizzBuzz" if i is divisible by 3 and 5.
* output\[i] = "Fizz" if i is divisible by 3.
* output\[i] = "Buzz" if i is divisible by 5.
* output\[i] = "i" if none of the above conditions are true.

In [ ]:
n = int(input("enter a number"))

if(n%3==0 and n%5==0):
    print("FizzBuzz")
elif(n%3==0):
    print("Fizz")
elif(n%5==0):
    print("Buzz")
else:
    print(n)

enter a number25
Buzz

In [ ]:
# Function to reverse the first column of a matrix
def reverse_first_column(matrix):
    n = len(matrix)
    first_column = [matrix[i][0] for i in range(n)]
    first_column.reverse()
    for i in range(n):
        matrix[i][0] = first_column[i]
    return matrix

mat = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

reverse_first_column(mat)

for row in mat:
    print(row)

[7, 2, 3]
[4, 5, 6]
[1, 8, 9]

In [ ]:
# Function to transpose a matrix
def transpose_matrix(matrix):
    return [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]

mat = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

transposed_mat = transpose_matrix(mat)

print("Original Matrix:")
for row in mat:
    print(row)

print("\nTransposed Matrix:")
for row in transposed_mat:
    print(row)

Original Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Transposed Matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [ ]:
# TRANSPOSE MATRIX
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

rows = len(matrix)
cols = len(matrix[0])

transposed = []

for i in range(cols):
    new_row = []
    for j in range(rows):
        new_row.append(matrix[j][i])
    transposed.append(new_row)

print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

x=[[1,2,3],[4,5,6],[7,8,9]]
out=list(map(list,zip(*x)))
print(out)

In [ ]:
N = int(input("Enter N: "))
for i in range(1, N+1, 2):
    print(i, end=", ")3

Enter N: 100
1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99,

In [ ]:
n=100
arr=[]
for i in range(1, n+1):
    arr.append(i*i - i + 1)
print("series:",arr)
print("sum", sum(arr))

series: [1, 3, 7, 13, 21, 31, 43, 57, 73, 91, 111, 133, 157, 183, 211, 241, 273, 307, 343, 381, 421, 463, 507, 553, 601, 651, 703, 757, 813, 871, 931, 993, 1057, 1123, 1191, 1261, 1333, 1407, 1483, 1561, 1641, 1723, 1807, 1893, 1981, 2071, 2163, 2257, 2353, 2451, 2551, 2653, 2757, 2863, 2971, 3081, 3193, 3307, 3423, 3541, 3661, 3783, 3907, 4033, 4161, 4291, 4423, 4557, 4693, 4831, 4971, 5113, 5257, 5403, 5551, 5701, 5853, 6007, 6163, 6321, 6481, 6643, 6807, 6973, 7141, 7311, 7483, 7657, 7833, 8011, 8191, 8373, 8557, 8743, 8931, 9121, 9313, 9507, 9703, 9901]
sum 333400

In [ ]:
differences = [arr[i+1] - arr[i] for i in range(len(arr)-1)]
print("Differences:", differences)

Differences: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]